


<div class="page-header">
  <h1>Todos los perfiles</h1>
  <div>
<%= link_to "Nuevo perfil", new_profile_path, class:"btn btn-success" %>
</div>
</div>

<% @profiles.each do |profiles|%>
  <div class="profile">
    <strong><%=profiles.name%></strong>
    <span>
    <%= "Hace "+ time_ago_in_words(profiles.created_at)%>
    </span>
    <span class="admin">
    <div><%=link_to  profiles, class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-eye-open" style="color:green"></span>
      <% end %>
      
      <%=link_to edit_profile_path(profiles), class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-edit" style="color:orange"></span>
      <% end %>
      <%=link_to profiles, method: :delete, data:{confirm: "Confirma la aliminación del perfil?"}, class: "btn btn-default" do%>
      <span class="glyphicon glyphicon-trash" style="color:red"></span>
      <% end %>
    </span>

  </div>
  </div>
    
<% end %>

