<h1>Listing subpayableaccounts</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subpayableaccounts.each do |subpayableaccount| %>
      <tr>
        <td><%= subpayableaccount.type %></td>
        <td><%= link_to 'Show', subpayableaccount %></td>
        <td><%= link_to 'Edit', edit_subpayableaccount_path(subpayableaccount) %></td>
        <td><%= link_to 'Destroy', subpayableaccount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subpayableaccount', new_subpayableaccount_path %>
