<h1>Listing pamenttypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pamenttypes.each do |pamenttype| %>
      <tr>
        <td><%= pamenttype.name %></td>
        <td><%= link_to 'Show', pamenttype %></td>
        <td><%= link_to 'Edit', edit_pamenttype_path(pamenttype) %></td>
        <td><%= link_to 'Destroy', pamenttype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pamenttype', new_pamenttype_path %>
