<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => "Asunto" %>
   
    <%= f.input :content, :label => "Texto" %>
    <%= f.input :inidate , :as=> 'string' , :input_html=> {data: { provide: "datepicker" }} , :label => "Fecha Inicio" %>
    <%= f.input :inihour , :label => "Hora Inicio"%>
     <%= f.input :findate , :as=> 'string' , :input_html=> {data: { provide: "datepicker" }} , :label => "Fecha Término" %>
    <%= f.input :finhour , :label => "Hora Término"%>
    <%= f.input :user_id_from %>
    <%= f.input :user_id_to %>
    <%= f.input :perccompleted , :label => "Porcentaje Completado", :value => "0" %>

  </div>

  <div class="form-actions">

    <%= f.button :submit, class:"btn btn-success"%>
  </div>
<% end %>
