<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Voucher:</strong>
  <%= @task.voucher %>
</p>

<p>
  <strong>Receivableaccount:</strong>
  <%= @task.receivableaccount_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @task.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Community:</strong>
  <%= @task.community_id %>
</p>

<p>
  <strong>Paymentdate:</strong>
  <%= @task.paymentdate %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @task.apartment_id %>
</p>

<p>
  <strong>Paymentmethod:</strong>
  <%= @task.paymentmethod_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @task.image %>
</p>

<p>
  <strong>Period:</strong>
  <%= @task.period %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
