<h1>Listing status_types</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_types.each do |status_type| %>
      <tr>
        <td><%= status_type.nombre %></td>
        <td><%= status_type.content %></td>
        <td><%= link_to 'Show', status_type %></td>
        <td><%= link_to 'Edit', edit_status_type_path(status_type) %></td>
        <td><%= link_to 'Destroy', status_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status type', new_status_type_path %>
