<%= simple_form_for(@tast) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :initdate %>
    <%= f.input :inithour %>
    <%= f.input :findate %>
    <%= f.input :finhour %>
    <%= f.input :user_id %>
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
