<div class="container">
  <div class="well">
    <%= link_to "Nueva cuenta bancaria", new_bankaccount_path, remote: true, class: "btn btn-primary" %>
     <div class="pull-right hidden-s">
      
          Exportar:
          <%= link_to "CSV", bankaccounts_path(format: "csv") %> |
          <%= link_to "Excel", bankaccounts_path(format: "xls") %><br/>

          Importar:<%= form_tag import_bankaccounts_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Importar" %>

      <% end %>

</div>
   

  </div>
  <div class="new-bankaccount"></div>
  
  <table class="table-responsive order-column uk-table uk-table-hover uk-table-striped display">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Titular</th>
        <th>N° de cuenta</th>
        <th>Banco</th>
       
         
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody class="bankaccount-index">
      <%= render "index" %>
    </tbody>
  </table>
</div>
<div id="bankaccount-modal" class="modal fade"></div>