<h1>Listing bankaccounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Accountholder</th>
      <th>Accountnum</th>
      <th>Bankname</th>
      <th>Initbalance</th>
      <th>Community</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bankaccounts.each do |bankaccount| %>
      <tr>
        <td><%= bankaccount.name %></td>
        <td><%= bankaccount.accountholder %></td>
        <td><%= bankaccount.accountnum %></td>
        <td><%= bankaccount.bankname %></td>
        <td><%= bankaccount.initbalance %></td>
        <td><%= bankaccount.community_id %></td>
        <td><%= link_to 'Show', bankaccount %></td>
        <td><%= link_to 'Edit', edit_bankaccount_path(bankaccount) %></td>
        <td><%= link_to 'Destroy', bankaccount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bankaccount', new_bankaccount_path %>
