<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bankaccount.name %>
</p>

<p>
  <strong>Accountholder:</strong>
  <%= @bankaccount.accountholder %>
</p>

<p>
  <strong>Accountnum:</strong>
  <%= @bankaccount.accountnum %>
</p>

<p>
  <strong>Bankname:</strong>
  <%= @bankaccount.bankname %>
</p>

<p>
  <strong>Initbalance:</strong>
  <%= @bankaccount.initbalance %>
</p>

<p>
  <strong>Community:</strong>
  <%= @bankaccount.community_id %>
</p>

<%= link_to 'Edit', edit_bankaccount_path(@bankaccount) %> |
<%= link_to 'Back', bankaccounts_path %>
