<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Voucher:</strong>
  <%= @reservation.voucher %>
</p>

<p>
  <strong>Receivableaccount:</strong>
  <%= @reservation.receivableaccount_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @reservation.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reservation.description %>
</p>

<p>
  <strong>Community:</strong>
  <%= @reservation.community_id %>
</p>

<p>
  <strong>Paymentdate:</strong>
  <%= @reservation.paymentdate %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @reservation.apartment_id %>
</p>

<p>
  <strong>Paymentmethod:</strong>
  <%= @reservation.paymentmethod_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @reservation.image %>
</p>

<p>
  <strong>Period:</strong>
  <%= @reservation.period %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
