<p id="notice"><%= notice %></p>

<p>
  <strong>Commonroom:</strong>
  <%= @reservation.commonRoom_id %>
</p>

<p>
  <strong>Initdate:</strong>
  <%= @reservation.initDate %>
</p>

<p>
  <strong>Findate:</strong>
  <%= @reservation.finDate %>
</p>

<p>
  <strong>Inittime:</strong>
  <%= @reservation.initTime %>
</p>

<p>
  <strong>Fintime:</strong>
  <%= @reservation.finTime %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @reservation.apartment_id %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
