<% @vendors.where(:community_id => current_user.community_id).each do |vendor| %>
  <tr>
    <td><%= vendor.name %></td>
    <td><%= vendor.rut %></td>
    <td><%= vendor.accountnum %></td>
    <td><%= vendor.bankname %></td>
    <td><%= vendor.contactphone %></td>
    <td><%= vendor.contactmail %></td>
    <td><%= vendor.website %></td>
    <td><%= vendor.address %></td>
    <td><%= vendor.bankaccount_id %></td>
    <td>
         <%= link_to vendor_path(vendor), class: "" do %>
         <i class="fa fa-eye" style="color:green"></i> </a>
         <% end %> | 
         <%= link_to edit_vendor_path(vendor), class: "" do %>
         <i class="fa fa-pencil-square-o" style="color:orange"></i> </a>
         <% end %> | 
         <%= link_to  vendor, method: :delete, data: { confirm: 'Estás seguro?' } , class: "" do %>
         <i class="fa fa-trash" style="color:red"></i> </a>
         <% end %>        
    </td>     
  </tr>
<% end %>