<tr id="journal_<%= journal.id %>">
   <td><%= journal.name %></td>
   <td><%= journal.vendor_id %></td>
   <td><%= journal.paybleaccount_id  %></td>
   <td width="10px"><%= journal.duedate  %></td>
   <td width="10px"><%= journal.paymentdate  %></td>
   <td><%= journal.user_id %></td>
   <td><%= journal.debit %></td>
   <td width="105px">
      <% if journal.vendor_id !=0%>
         <span class="label label-primary span-table">Sin proveedor</span>
      <% else %>
         <span class="label label-success span-table"> Con proveedor </span>
      <% end %>
   </td>
   <td width="180px">
      <%= link_to edit_journal_path(journal), remote: true, :class => 'btn btn-sm btn-info bold' do %>
         <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; Editar
      <% end %>
      <!--Se le envia el id del producto a "input_products/new"-->
      <%= link_to new_journal_path(journal_id: journal.id),remote: true, class: 'btn btn-sm btn-primary bold' do %>
         <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Entrada
      <% end %>
   </td>
</tr>