<%= simple_form_for(@receivableaccount) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :initbalance %>
    <%= f.input :descroption %>
    <%= f.input :pymenttype_id %>
    <%= f.input :subtype %>
    <%= f.input :ammount %>
    <%= f.input :percentammount %>
    <%= f.input :aliquot %>
    <%= f.input :building %>
    <%= f.input :community_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
