<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @receivableaccount.name %>
</p>

<p>
  <strong>Voucher:</strong>
  <%= @receivableaccount.voucher %>
</p>

<p>
  <strong>Receivableaccount:</strong>
  <%= @receivableaccount.receivableaccount_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @receivableaccount.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @receivableaccount.description %>
</p>

<p>
  <strong>Community:</strong>
  <%= @receivableaccount.community_id %>
</p>

<p>
  <strong>Paymentdate:</strong>
  <%= @receivableaccount.paymentdate %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @receivableaccount.apartment_id %>
</p>

<p>
  <strong>Paymentmethod:</strong>
  <%= @receivableaccount.paymentmethod_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @receivableaccount.image %>
</p>

<p>
  <strong>Period:</strong>
  <%= @receivableaccount.period %>
</p>

<p>
  <strong>User:</strong>
  <%= @receivableaccount.user_id %>
</p>

<%= link_to 'Edit', edit_receivableaccount_path(@receivableaccount) %> |
<%= link_to 'Back', receivableaccounts_path %>
