<p id="notice"><%= notice %></p>

<p>
  <strong>Community:</strong>
  <%= @apartment.community_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @apartment.name %>
</p>

<p>
  <strong>M2:</strong>
  <%= @apartment.m2 %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
